.gj-footer-wrap {
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: #eee;
    font-weight: 100;

    & address {
        width: 100%;
        display: block;
        max-width: 1600px;
        line-height: 1;
        padding: 0 16px;

        span {
            display: block;
            margin-bottom: 8px;
            font-style: normal;
            text-align: center;

            &:last-of-type {
                margin: 0;
            }
        }
    }
}
