// noto sans kr
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Light'), local('NotoSans-Light'), url(/fonts/NotoSans/NotoSans-Light.eot);
    src: url(/fonts/NotoSans/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
    url(/fonts/NotoSans/NotoSans-Light.woff2) format('woff2'),
    url(/fonts/NotoSans/NotoSans-Light.woff) format('woff');
  }
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(/fonts/NotoSans/NotoSans-Regular.eot);
    src: url(/fonts/NotoSans/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/NotoSans/NotoSans-Regular.woff2) format('woff2'),
    url(/fonts/NotoSans/NotoSans-Regular.woff) format('woff');
  }
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(/fonts/NotoSans/NotoSans-Medium.eot);
    src: url(/fonts/NotoSans/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
    url(/fonts/NotoSans/NotoSans-Medium.woff2) format('woff2'),
    url(/fonts/NotoSans/NotoSans-Medium.woff) format('woff');
  }
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(/fonts/NotoSans/NotoSans-Bold.eot);
    src: url(/fonts/NotoSans/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/NotoSans/NotoSans-Bold.woff2) format('woff2'),
    url(/fonts/NotoSans/NotoSans-Bold.woff) format('woff');
  }
  // nanum barun gothic
  @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: normal;
    src: local('NanumBarunGothic Regular'), local('NanumBarunGothic-Regular'), url(/fonts/NanumBarunGothic/NanumBarunGothic.eot);
    src: url(/fonts/NanumBarunGothic/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
    url(/fonts/NanumBarunGothic/NanumBarunGothic.woff) format('woff');
  }
  @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: bold;
    src: local('NanumBarunGothic Bold'), local('NanumBarunGothic-Bold'), url(/fonts/NanumBarunGothic/NanumBarunGothicBold.eot);
    src: url(/fonts/NanumBarunGothic/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/NanumBarunGothic/NanumBarunGothicBold.woff) format('woff');
  }