@import "font";
@import "constant";
@import "mixin";
@import "lib";

$box-sizing-path: #{$path-etc}#{'boxsizing.htc'};
$color-text: #222;
$color-placeholder: #aaa;

* {
    box-sizing: border-box;
    *behavior: url($box-sizing-path);
}

html {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
    overflow-x: hidden;
    overflow-y: auto;
    color: $color-text;
    -webkit-overflow-scrolling: touch;
    font-family: 'Spoqa Han Sans', sans-serif;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:-ms-input-placeholder {
    color: $color-placeholder !important;
    opacity: 1 !important;
}
input::-moz-placeholder {
    color: $color-placeholder !important;
    opacity: 1 !important;
}
input:-moz-placeholder {
    color: $color-placeholder !important;
    opacity: 1 !important;
}
input::-webkit-input-placeholder {
    color: $color-placeholder !important;
    opacity: 1 !important;
}
input::-ms-expand {
    display: none;
}
input::-ms-clear {
    display: none;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

textarea,
input {
    border: none;
    outline: none;
    border-radius: 0;
    font-family: 'Spoqa Han Sans', sans-serif;
}

button {
    border: 0;
    border-radius: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    background-color: white;
    font-family: 'Spoqa Han Sans', sans-serif;
    span {
        position: relative;
    }
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
    text-decoration: none;
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $color-text;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

select {
    border-radius: 0;
    border: 0;
    background-color: white;
    outline: none;
    cursor: pointer;
    font-family: 'Spoqa Han Sans', sans-serif;
}

select::-ms-expand {
    display: none;
}

.gj-vertical-align-wrap {
    position: relative;
    @include screen(pc, t) {
        display: table;
        width: 100%;
        height: 100%;
    }
    .gj-vertical-align {
        @include screen(pc, t) {
            display: table-cell;
            vertical-align: middle;
        }
    }

    @include screen(m) {
        width: 100%;
    }
}

.lc-container {
    position: relative;
    margin: 0 auto;
    max-width: $container;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility .3s, opacity .3s;
    -moz-transition: visibility .3s, opacity .3s;
    -ms-transition: visibility .3s, opacity .3s;
    -o-transition: visibility .3s, opacity .3s;
    transition: visibility .3s, opacity .3s;
    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.modal-wrap {
    position: relative;
    margin: auto;
    border-radius: 48px;
    box-shadow: 0 4px 13px 10px rgba(0, 0, 0, 0.17);
    overflow: visible;
}

.gj-m-inline {
  @include screen(pc) {
    display: none;
  }
  @include screen(t, m) {
    display: inline;
  }
}
.gj-m-block {
  @include screen(pc) {
    display: none;
  }
  @include screen(t, m) {
    display: block;
  }
}
.gj-pc-inline {
  @include screen(pc) {
    display: inline;
  }
  @include screen(t, m) {
    display: none;
  }
}
.gj-pc-block {
  @include screen(pc) {
    display: block;
  }
  @include screen(t, m) {
    display: none;
  }
}

@import "components";
